@import "tailwindcss";

@theme {
	/* Colors */
	--color-notion-black: #000000;
	--color-notion-dark: #111111;
	--color-notion-gray: #37352f;
	--color-notion-light-gray: #F7F7F5;
	--color-notion-border: #E0E0E0;
	--color-notion-blue: #2383E2;
	
	--font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

body {
	font-family: var(--font-sans);
	color: var(--color-notion-gray);
	-webkit-font-smoothing: antialiased;
}
